.footer__container {
    min-width: 100vw;
    height: 150px;
    text-align: center;
}

.footer__container a{
    color: black;
}

.nav__container {
    margin: 0 auto;
}

.navigation {
    display: flex;
    margin-bottom: 30px;
}
