@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

html, body {
  min-width: 100%;
  min-height: 100%;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Merienda", cursive;
}

.hide {
  display: none;
}

.show {
  display: contents;
}